<div class="container" [formGroup]="lessonForm">
    <div class="row mt-2">
        <label class="col-md-1" for="title" [class]="lessonForm.get('title')?.invalid ? 'text-danger' : ''">Title</label>
        <input id="title" type="text" class="col-md-5" placeholder="Enter title" formControlName="title">
    </div>
    <div class="row mt-2">
        <label class="col-md-1" for="description" [class]="lessonForm.get('description')?.invalid ? 'text-danger' : ''">Description</label>
        <textarea id="description" class="col-11" rows="4" placeholder="Enter description" formControlName="description"></textarea>
    </div>
    <div class="row mt-2">
        <label class="col-md-1" for="category">Category</label>
        <input id="category" type="text" class="col-md-2" placeholder="Enter category" formControlName="category">
        <label class="col-md-1" for="level" ngbTooltip="Enter value between 1(basics) to 10(advanced)" placement="top">Level</label>
        <input id="level" type="number" class="col-md-1" min="1" max="10" placeholder="Enter level" formControlName="level">
        <label class="col-md-1" for="prerequisites">Prerequisite</label>
        <input id="prerequisites" type="text" class="col-md-6" placeholder="Enter prerequisite" formControlName="prerequisite">
    </div>
    <div class="row mt-2">
        <label class="col-md-1" for="tags" ngbTooltip="Enter tags, separated by commas" placement="top">Tags</label>
        <input id="tags" type="text" class="col-md-11" placeholder="Enter tags" formControlName="tags">
    </div>
    <div class="row mt-1">
        <label class="col-md-1" for="license">License</label>
        <input id="license" type="text" class="col-md-5" placeholder="Enter license" formControlName="copyright">
    </div>
    <div class="row mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="onClickSubmit()" [disabled]="!lessonForm.valid">Submit</button>
            <span *ngIf="lessonForm.invalid" class="col-md-8 text-danger">
                Please fill out all required fields.
            </span>               
        </div>
    </div>
</div>