/* login.css */

.settings-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
 
  button {
    padding: 10px;
    background-color: #bebebe;
    color: #fff;
    border: none;
    cursor: pointer;
  }