
.explore-lesson {
    margin-top: 20px;
  }
  

  .explore-lesson-banner {
    background-color: #bebebe;
    padding: 10px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }
  
  .explore-lesson-banner p {
    margin: 0;
  }
  
  /* Style the explore-lesson content */
  .explore-lesson-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .explore-lesson-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .explore-lesson-content p {
    margin-bottom: 10px;
  }
  
  .lesson-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .lesson-item {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
  }
  
  .lesson-item h3 {
    font-size: 18px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .lesson-item p {
    font-size: 14px;
    color: #666;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .lesson-item a {
    display: inline-block;
    background-color: #bebebe;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .lesson-item a:hover {
    background-color: #0056b3;
  }
  
 