<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <h1>Achievements</h1>
  
  <div class="achievement">
    <img src="./assets/pexels-fauxels-3184418.jpg" alt="Achievement 1">
    <h2>First Steps</h2>
    <p>Congratulations! You've completed your first 100 flashcards.</p>
  </div>
  
  <div class="achievement">
    <img src="./assets/pexels-emily-ranquist-1205651.jpg" alt="Achievement 2">
    <h2>Card Master</h2>
    <p>You've successfully reviewed 500 flashcards. Keep up the good work!</p>
  </div>
  
  <div class="achievement">
    <img src="./assets/pexels-rdne-stock-project-7005501.jpg" alt="Achievement 3">
    <h2>Quiz Champion</h2>
    <p>Scored 100% on a challenging quiz. Well done!</p>
  </div>
  
</body>
</html>
