<div class="container">
    <div class="row m-3">
        <div class="col-md-2">Advanced search:</div>
        <input type="checkbox" (change)="advancedSearch = !advancedSearch;" class="col-md-3" />
    </div>
    
    <div class="row m-3">
        <div class="col-md-3">Title:</div>
        <div class="col-md-9">
            <input type="text" id="title" name="title" class="col-md-12 rounded-3" />
        </div>
        <select class="col-md-2">
            <option value="ignore-case">Ignore case</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case insensitive like</option>
            <option value="starts-with">Starts with</option>
            <option value="exact">Exact</option>
        </select>
    </div>
  
    <div class="row m-3">
        <div class="col-md-3">Description:</div>
        <div class="col-md-9">
            <input id="description" name="description" class="col-md-12 rounded-3" />
        </div>
        <select class="col-md-2">
            <option value="ignore-case">Ignore case</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case insensitive like</option>
            <option value="starts-with">Starts with</option>
            <option value="exact">Exact</option>
        </select>
    </div>
  
    <div class="row m-3">
        <div class="col-md-3">Category:</div>
        <div class="col-md-9">
            <input type="text" id="category" name="category" class="col-md-12 rounded-3" />
        </div>
        <select class="col-md-2">
            <option value="ignore-case">Ignore case</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case insensitive like</option>
            <option value="starts-with">Starts with</option>
            <option value="exact">Exact</option>
        </select>
    </div>
  
    <div class="row m-3">
        <div class="col-md-3">Level:</div>
        <div class="col-md-9">
            <input type="text" id="level" name="level" class="col-md-12 rounded-3" min="0" max="10" />
        </div>
    </div>

    <div *ngIf="advancedSearch">
        <div class="row m-3">
            <div class="col-md-3">Tags:</div>
            <div class="col-md-9">
                <input type="text" id="tags" name="tags" class="col-md-12 rounded-3" />
            </div>
            <select class="col-md-2">
                <option value="ignore-case">Ignore case</option>
                <option value="like">Like</option>
                <option value="case-insensitive-like">Case insensitive like</option>
                <option value="starts-with">Starts with</option>
                <option value="exact">Exact</option>
            </select>
        </div>
    </div>
  
    <div class="row m-3">
        <div class="col-md-3">Author:</div>
        <div class="col-md-9">
            <input type="text" id="author" name="author" class="col-md-12 rounded-3" />
        </div>
        <select class="col-md-2">
            <option value="ignore-case">Ignore case</option>
            <option value="like">Like</option>
            <option value="case-insensitive-like">Case insensitive like</option>
            <option value="starts-with">Starts with</option>
            <option value="exact">Exact</option>
        </select>
    </div>
  
    <div class="row m-3">
        <div class="col-md-3">Last modified date:</div>
        <div class="col-md-9">
            <input type="text" id="lastModifiedDate" name="lastModifiedDate" class="col-md-12 rounded-3" min="2023-01-01" max="2023-12-31" />
        </div>
    </div>

    <div class="row m-3">
        <button type="button" class="btn btn-primary">Search</button>
    </div>
</div>